/* =======================blog======================= */
.search__input{
    border: none;
    font-family: var(--font-primary);
    color: var(--color-imput);
    background: var(--bg-imput);
    padding: 10px 0px 10px 40px;
    width: 100%;
    
}
.search{

   margin: 20px 0px;
   position: relative;
 
}
.search__icon{

   color: var(--color-imput);
   font-size: 19px;
   position: absolute;
   top: 10px;
   left: 10px;
}