


 /* ===========================header-menu=========================== */
.menu{

    display: flex;
}

.menu__list{

    margin: 0px 10px;
}

.menu__link{

    color: var(--bg-color);
    font-family: var(--font-secundary);
    font-style: normal;
   
    font-size: 14px;
    line-height: 28px;

   
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: all 0.5s;
  
    }

.menu__link:hover{

     
      color: var(--bg-color);
      padding: 0px 0px 5px 0px;
    border-bottom: 2px solid var(--bg-color);
    transition: all 0.5s;
    
}
.link-active{

    font-weight: bold;
    padding: 0px 0px 5px 0px;
    border-bottom: 2px solid var(--bg-color);
}


